@import url("https://cdn.syncfusion.com/ej2/material.css");
@import url('https://fonts.cdnfonts.com/css/ds-digital');

/* Vertical scrollbar */
::-webkit-scrollbar {
  width: 10px;
  height: 8px;
}
::-webkit-scrollbar-thumb {
  background-color: rgb(175, 175, 175);
  border-radius: 4px;
}
::-webkit-scrollbar-track {
  background-color: transparent;
}

.form-control {
  display: block;
  width: 100%;
  background-clip: padding-box;
  border: 1px solid #bfc9ca;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  border-radius: 6px;
  transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}

.form-control:focus {
  border-color: #3498db;
  outline: 0;
  box-shadow: 0 0 0 0.2rem rgba(52, 152, 219, 0.25);
}

.form-read-only {
  display: block;
  width: 100%;
  background-clip: padding-box;
  border: 1px solid #bfc9ca;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  border-radius: 6px;
  transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}

.form-read-only:focus {
  border-color: #bfc9ca;
  outline: 0;
  box-shadow: 0 0 0 0.2rem rgba(255, 255, 255, 0.25);
}

.button-control {
  display: block;
  border-color: #bfc9ca;
  outline: 0;
}
