.sidebar {
  box-shadow: rgb(113 122 131 / 11%) 0px 7px 30px 0px;
  z-index: 1000; /* Ensure sidebar is above content */
}

.nav-item,
.navbar {
  z-index: 1001; /* Ensure navbar is above content and sidebar */
}

@media screen and (max-width: 850px) {
  .sidebar {
    z-index: 10000000; /* Ensure sidebar is above everything on smaller screens */
  }
}

.e-dlg-center-center,
.e-quick-popup-wrapper.e-device {
  z-index: 1000000 !important; /* Adjust other components as needed */
}

.h5-after {
  content: "";
  height: 30px;
  width: 3px;
  position: absolute;
  left: -20px; /* Adjusted left position */
  top: 50%; /* Center vertically */
  transform: translateY(-50%); /* Center vertically */
  border-radius: 0 3px 3px 0;
}

.print-title {
  display: none;
}

.show-on-print-only {
  display: none;
}

.print-icon-hidden {
  display: block;
}

@media print {
  .hide-on-print {
    display: none !important;
  }
  .show-on-print-only {
    display: block;
  }

  .print-margin {
    margin: 40px;
  }

  .team-data-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    margin-left: 10px; /* Add right margin */
    width: 100%; /* Ensure the printable section takes full width */
  }
  .team-format {
    display: flex; /* Use Flexbox */
    justify-content: center; /* Center horizontally */
    align-items: center; /* Center vertically */
  }
  .team-container {
    width: calc(
      25% - 5px
    ); /* Adjust width to fit four containers in each row with proper margin */
    margin-bottom: 18px; /* Add margin between columns */
  }
  .print-title {
    display: block;
    display: flex;
    justify-content: center;
  }
  .print-icon-hidden {
    display: none;
  }
  .print-teamName {
    display: flex; /* Use Flexbox */
    justify-content: center; /* Center horizontally */
    align-items: center; /* Center vertically */
    height: 100%; /* Ensures the container takes up full height */
  }
}
